/Downloads
/Documents
/projects
/Arduino
/screenshots
/Pictures
/.vagrant.d
/.ssh
/.thumbnails
/.python_history
/Music
/Desktop
.viminfo
.vim/bundle
.gem
.gitconfig
.Xauthority
.arduino15
.bash_history
.bash_logout
.bash_profile
.cache
.config/QtProject
.config/QtProject.conf
.config/VirtualBox
.config/dconf
.config/gpicview
.config/gtk*
.esd_auth
.gimp*
.gnome2
.java
.local
.mozilla
.mplayer
