/Downloads
/Documents
/projects
/Arduino
/screenshots
/Pictures
/.ssh/*
!.ssh/config

/.thumbnails
/.python_history
/Music
/Desktop
.viminfo
.vim/bundle
.gitconfig
.Xauthority
.arduino15
/.audacity-data
.bash_history
.bash_logout
.bash_profile
.cache
.config/QtProject
.config/QtProject.conf
.config/VirtualBox
.config/dconf
.config/gpicview
.config/gtk*
.config/xarchiver
.config/pulse
.config/pcmanfm
.config/libfm
.config/transmission-daemon
.config/pavucontrol.ini
.config/mimeapps.list
.config/Trolltech.conf
.ncmpcpp/error.log
.mpd/sticker.sql
.mpd/state
.mpd/log
.mpd/playlists/
.mpd/database
.mpd/pid
.lesshst
.esd_auth
.gimp*
.gnome2
.java
.local
.mozilla
.mplayer
/.FBReader
/.lyrics
/.oracle_jre_usage
/.jssc
.viminfo.tmp
