#include ".colors/copland"

Xft.lcdfilter                : lcddefault
Xft.hintstyle                : hintslight
Xft.hinting                  : 1
Xft.autohint                 : 1
Xft.antialias                : 1
Xft.dpi                      : 96
Xft.rgba                     : rgb

URxvt.background             : #1B1D1E
URxvt.foreground             : #CCCCCC
URxvt.font                   : xft:Roboto Mono Medium for Powerline:pixelsize=14, xft:DejaVu Sans Mono for Powerline:size=14
URxvt.letterSpace            : 0
URxvt.boldFont               : xft:Roboto Mono Medium for Powerline:bold:pixelsize=14, xft:DejaVu Sans Mono for Powerline:bold:size=14
URxvt.scrollBar              : false
URxvt.url-select.launcher    : /usr/bin/firefox
URxvt.url-select.underline   : true
