#include ".colors/copland"

Xft.lcdfilter                : lcddefault
Xft.hintstyle                : hintslight
Xft.hinting                  : 1
Xft.autohint                 : 1
Xft.antialias                : 1
Xft.dpi                      : 96
Xft.rgba                     : rgb

URxvt.background             : #1B1D1E
URxvt.foreground             : #CCCCCC
URxvt.font                   : xft:Source Code Pro Medium:pixelsize=14, xft:DejaVu Sans Mono for 
Powerline:size=12
URxvt.letterSpace            : 0
URxvt.boldFont               : xft:Source Code Pro Medium:bold:pixelsize=14, xft:DejaVu Sans Mono 
for Powerline:bold:size=12
URxvt.scrollBar              : false
URxvt.url-select.launcher    : /usr/bin/firefox
URxvt.url-select.underline   : true

